<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/admin/sidebara.css" />
    <link rel="icon" href="~/img/koilogo.jpg" type="image/jpg" />
    <title>KoiTranS</title>
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-logo">
            <a href="#">
                <img src="~/img/logo.png" alt="KoiTranS Logo" class="logo" />
                <span class="logo-text">KoiTranS</span>
            </a>
        </div>

        <ul>
            <li class="@((ViewData["ActivePage"] as string) == "Home" ? "active" : "")">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-chart-line"></i> Thống Kê
                </a>
            </li>
            <li class="@((ViewData["ActivePage"] as string) == "Transport" ? "active" : "")">
                <a href="@Url.Action("Index", "Transport")">
                    <i class="fa-solid fa-clipboard-check"></i> Đơn Vận Chuyển
                </a>
            </li>
            <li class="@((ViewData["ActivePage"] as string) == "Advise" ? "active" : "")">
                <a href="@Url.Action("Index", "Advise")">
                    <i class="fa-solid fa-calendar-check"></i> Lịch Đặt Tư Vấn
                </a>
            </li>
            <li class="mintopsub @((ViewData["ActivePage"] as string) == "KoiWorld" ? "active" : "")">
                <a href="@Url.Action("Index", "KoiWorld")">
                    <i class="fa-solid fa-fish"></i> Koi World
                </a>
            </li>
            <li class="@((ViewData["ActivePage"] as string) == "Price" ? "active" : "")">
                <a href="@Url.Action("Index", "Price")">
                    <i class="fa-solid fa-tag"></i> Bảng Giá
                </a>
            </li>
            <li class="@((ViewData["ActivePage"] as string) == "Sales" ? "active" : "")">
                <a href="@Url.Action("Index", "Sales")">
                    <i class="fa-solid fa-percent"></i> Ưu Đãi
                </a>
            </li>
            <li class="@((ViewData["ActivePage"] as string) == "Feedback" ? "active" : "")">
                <a href="@Url.Action("Index", "Feedback")">
                    <i class="fa-solid fa-comments"></i> Đánh Giá & Feedback
                </a>
            </li>

            <li>
                <form method="post" action="@Url.Action("Logout", "Admin")">
                    <button type="submit">
                        <i class="fas fa-sign-out-alt"></i> Đăng Xuất
                    </button>
                </form>
            </li>
        </ul>
    </div>

</body>
</html>
