<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Sidebar.css" />
    <link rel="icon" href="~/img/koilogo.jpg" type="image/jpg" />
    <title>KoiTranS</title>
</head>
<body>
    <header id="header">
        <div class="logo btn">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/img/logo.png" alt="KoiTranS Logo" />
                <span class="logo-text">KoiTranS</span>
            </a>
        </div>
        <ul class="nav btn">
            <li><a href="@Url.Action("Index", "Home")">Trang Chủ</li></a>
            <li class="topsub">
                <a>Dịch Vụ <i class="fa-solid fa-caret-down icon-min"></i></a>
                <ul class="subnav">
                    <li><a href="@Url.Action("Index", "Advise" )">Tư Vấn và Chăm Sóc</a></li>
                    <li><a href="@Url.Action("Index", "Transport" )">Vận Chuyển</a></li>
                    <li><a href="@Url.Action("Index", "KoiWorld")">KOI WORLD</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Sales", "Index")">Ưu Đãi</a></li>

            <li><a href="@Url.Action("Index", "Feedback")">Đánh Giá <i class="fa-solid fa-comments icon-min"></i></a></li>

        </ul>
        <div class="user btn">
            <a href="javascript:void(0);" class="user-icon" id="user-icon">
                <i class="fa-solid fa-circle-user icon"></i>
                <span class="username">@User.Identity.Name</span>
            </a>
            <i class="fa-solid fa-cart-shopping icon" onclick="window.location.href='@Url.Action("Index", "Cart")'"></i>
            <i class="fa-regular fa-bell icon"></i>
        </div>
    </header>

    <div class="sidebar">




        <ul>
            <li><a href="@Url.Action("Index", "Home")"><i class="fa-solid fa-house"></i> Trang Chủ</a></li>
            <li><a href="@Url.Action("Index", "Services")"><i class="fa-solid fa-cogs"></i> Dịch Vụ</a></li>
            <li><a href="@Url.Action("Index", "Transport" )"><i class="fa-solid fa-clipboard-check"></i> Đặt Đơn Vận Chuyển</a></li>
            <li><a href="@Url.Action("Index", "Advise" )"><i class="fa-solid fa-calendar-check"></i> Đặt Lịch Tư Vấn</a></li>
            <li class="mintopsub">
                <a href="@Url.Action("Index", "KoiWorld")"><i class="fa-solid fa-fish"></i> Koi World</a>
                <ul class="minsubnav">
                    <vc:categori-koi></vc:categori-koi>
                </ul>
            </li>

            <li><a href="@Url.Action("Index", "Price")"><i class="fa-solid fa-tag"></i> Bảng Giá</a></li>
            <li><a href="@Url.Action("Index", "Sales")"><i class="fa-solid fa-percent"></i> Ưu Đãi</a></li>
            <li><a href="@Url.Action("Index", "Feedback")"><i class="fa-solid fa-comments"></i> Đánh Giá & Feedback</a></li>
            <li><a href="@Url.Action("Index", "Cart")"><i class="fa-solid fa-cart-shopping"></i> Giỏ Hàng</a></li>
            
        </ul>
    </div>


</body>
</html>