@model IEnumerable<ShopKoiTranS.Models.SalesModel>

@{
    ViewData["Title"] = "Sales Management";
    Layout = null;
}

<link rel="stylesheet" href="~/css/Admin/Sales.css">
@Html.Partial("_SideBar")

<div class="main-container">
    <div class="container">
        <div class="main-content">
            <h2>Danh Sách Sales</h2>

            <!-- Nút tạo mới Sales -->
          

            <table class="table">
                <thead>
                    <tr>
                        <th>Loại Thẻ</th>
                        <th>Điều Kiện</th>
                        <th>Ưu Đãi</th>
                        <th>Hình Ảnh</th>
                        <th>Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sale in Model)
                    {
                        <tr>
                            <td>@sale.Title</td>
                            <td>@sale.Condition</td>
                            <td>@string.Join(", ", sale.Benefits)</td>
                            <td><img src="@Url.Content("~/img/" + sale.ImageUrl)" class="sale-image" /></td>

                            <td>
                                <a href="@Url.Action("Edit", "Sales", new { id = sale.Id })" class="btn btn-edit">Sửa</a>
                                <a href="@Url.Action("Delete", "Sales", new { id = sale.Id })" class="btn btn-delete">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
