@model IEnumerable<ShopKoiTranS.Models.FeedbackModel>

@{

    Layout = null;
}
@Html.Partial("_SideBar")
<link rel="stylesheet" href="~/css/Admin/FeedBack.css">



@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<h2>DANH SÁCH FEEDBACK CỦA KHÁCH HÀNG</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên khách hàng</th>
            <th>Rating</th>
            <th>Nội dung</th>
            <th>Ngày gửi</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model)
        {
            <tr>
                <td>@feedback.Id</td>
                <td>@feedback.CustomerName</td>
                <td>@feedback.Rating </td>
                <td>@feedback.FeedbackText</td>
                <td>@feedback.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@feedback.Id" class="btn btn-danger btn-sm">
                        Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>